.contact-us-container {
    /* display: flex; */
    padding: 40px;
    gap: 40px;
    justify-content: center;
    margin: 0 10%;
  }
  

/* Blog Page Hero Section */
.contact-hero {
  max-width: 100vw;
    height: 400px;
    background-image: url(../assets/Section.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
    margin-top: -100px;
}

.contact-hero-content h1 {
  font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'poppins', sans-serif;

}

.contact-hero-content h1 span {
  color: #fff; /* Accent color */
}

  .contact-us-content {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .contact-us-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .contact-us-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fbbc05;
  }
  
  .contact-us-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
  }
  .contact-us{
    display: flex;
    justify-content: space-between;
  }
  
  .contact-us-form {
    flex: 1;
    max-width: 60%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }
  
  .contact-us-form h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .contact-us-form textarea,
  .contact-us-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
  }
  
  .contact-us-form button {
    padding: 12px 24px;
    border-radius: 30px;
    background-color: #fbbc05;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .contact-us-form button:hover {
    background-color: #e0a800;
  }
  
  .contact-us-info {
    flex: 1;
    max-width: 20%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }
  
  .contact-us-info h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .contact-us-info p {
    font-size: 1rem;
    color: #555;
  }
  
  .contact-us-info h3 {
    margin-bottom: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-us-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-us-form, .contact-us-info {
      max-width: 100%;
      padding: 20px;
    }
  
    .contact-us-content h1,
    .contact-us-content h2 {
      font-size: 2rem;
    }
  }
  