.recipe-hero {
    max-width: 100vw;
    height: 400px;
    background-image: url(../assets/Section.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: white;
    margin-top: -100px;
  }
  
  .recipe-hero-content {
    color: #fff;
    max-width: 600px;
  }
  
  .recipe-hero-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
  }
  
  .recipe-hero-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #ffffff;
    
  }